.draggable {
    width: 18rem;
}

.draggable .handle:hover {
    border-color: hsla(0, 0%, 100%, 0.5);
    cursor: move;
}

.card.is-dragging,
.card.is-positioning-post-drag {
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

/* FIXME packery + ion icons layout issue ? */
.dashboard {
    margin-bottom: 50px;
}